/***************************************Selecteurs de balises*************************************/
body {
    background-color: #c8f0f0;
    font-family: cursive;
}

hr {
    border-style: none;
    border-top: 5px dotted;
    border-top-color: grey;
    border-width: 10px;
    width: 4%;
}

h1 {
    color: #53a3a3;
}

h2 {
    color: #53a3a3;
}

h3 {
    color: #53a3a3;
    
}

/***************************************Selecteurs de classe*************************************/

.titre2 {
    color: red;
}

/***************************************Selecteurs d'identifiants*************************************/
